<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>HTML 标题标签</h1>
<h2>HTML 标题标签</h2>
<h3>HTML 标题标签</h3>
<h4>HTML 标题标签</h4>
<h5>HTML 标题标签</h5>
<h6>HTML 标题标签</h6>

<a href="https://www.baidu.com">链接</a>

<img src="../statics/img/test.jpeg" alt="测试" width="300px" height="300px">

<div style="font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>
<div style="color:#4cae4c;font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>
<div style="background-color:#b6d4fe;font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>
<div style="background-color:#f8af00;color:#f0f0f0;font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>
<div style="background-color:#f5c2c7;color:#f0f0f0;width: 50px;font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>
<div style="background-color:#25c0a0;color:#f0f0f0;width: 50%;font-size: 24px;font-weight: 30;font-family: 华文行楷">CSS 属性</div>

</body>
</html>